# Editor stuff
.*.swp

# Build output
*.so
*.o
.deps/

# dist output
/variant-*.zip

/sql/variant--*
!/sql/variant--*--*.sql

# Test artifacts
results/
regression.diffs
regression.out

# Misc crap
tmp/
.DS_Store
